<header>
    <div class="welcome">
        Welcome <strong>{{username}}</strong>
    </div>
    <div class="logout">
        <div class="menu">
            <a href="/">Home</a>
        </div>
        <a href="logout">Logout</a>
    </div>
    <div class="clear"></div>
</header>

<div class="carrito-centrado">
    <section>
        <h3>Products by Category <strong><i>{{category}}</i></strong></h3>
        <div id="productList">
            <section class="listado">
            {{#if datos}}
                <table>
                    <tr>
                        <th>Thumb</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                {{#datos}}
                    <tr>
                        <td><img width=64 src="{{url}}" alt="{{name}}"></td>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        <td>
                            <a href="#" onclick="deleteProduct('{{_id}}')">DELETE</a>
                            <br>
                            <a href="#" onclick="addToCart('{{_id}}')">ADD TO CART</a>
                        </td>
                    </tr>
                {{/datos}}
                </table>
            {{else}}
                <div class="msg warning">No hay productos!</div>
            {{/if}}
            </section>
        </div>
    </section>
</div>

<div class="clear"></div>
